* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navbar styling */
header {
  z-index: 100;
  position: fixed;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 100px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
}
header.sticky {
  background: #172a3a;
  padding: 5px 100px;
}
header .logo {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 10px;
  transition: 0.6s;
  transition-property: color, background;
}
header .menu a:hover {
  color: #fff;
  background: #74b3ce;
}

/*Home styling*/
.home {
  display: flex;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.5)), url('img/bg.jpg');
  background-position: center;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: 'Moonserrat', sans-serif;
  background-repeat: no-repeat;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: skyblue;
  font-weight: 500;
  font-family: 'Moonserrat', sans-serif;
}
.home .home-content a {
  text-decoration: none;
  display: inline-block;
  background: skyblue;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 10px;
  border-radius: 6px;
  border: 2px solid skyblue;
  transition: 0.5s ease;
}
.home .home-content a:hover {
  color: #fff;
  background: none;
}
/*About Area*/

.judul {
  color: black;
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
}
.profile-area {
  margin-top: 50px;
  padding: 10px 0;
  align-items: center;
}
.card1 {
  margin-top: 10px;
  overflow: hidden;
  border: 1px solid #d0d0d0;
  width: 350px;
  border-radius: 2%;
  margin-left: 380px;
}
@media (max-width: 600px) {
  .card1 {
    margin-left: 100px;
  }
}
.foto1 img {
  position: relative;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: -1;
}
.foto2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-top: -20%;
}
.tentang {
  padding: 30px 0;
  text-align: center;
}
.tentang h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  margin: 0 0 10px;
}
.tentang p {
  font-size: 16px;
  padding: 0 35px;
}

.area-profile {
  padding: 20px 0;
}
.card {
  margin-top: 20px;
  overflow: hidden;
  border: 100px solid grey;
}
.banner img {
  height: 250px;

  width: 100%;
}
.profile img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-top: -20%;
}
.info {
  padding: 30px 0;
  text-align: center;
}
.info h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  margin: 0 0 20px;
}
.info p {
  font-size: 16px;
  padding: 0 35px;
}
img {
  border: solid 1px grey;
  width: 100%;
  height: 100%;
}
.gallery-item {
  height: auto;
  margin: 0.5rem;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.judul1 {
  margin-bottom: 80px;
}
.judul1 h1 {
  text-align: center;
  font-size: 36px;
}
@media (min-width: 640px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-auto-flow: row dense;
  }
  .gallery-item {
    margin: 0.7rem;
  }
  .gallery-item:first-child {
    grid-row: span 1;
  }
  .gallery-item:nth-child(2) {
    grid-column: 2;
    grid-row: span 1;
  }
  .gallery-item:nth-child(17),
  .gallery-item:nth-child(18) {
    grid-row: span 2;
  }
}
@media (min-width: 960px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto-flow);
  }
  .gallery-item:first-child,
  .gallery-item:nth-child(16),
  .gallery-item:nth-child(5),
  .gallery-item:nth-child(18) {
    grid-column: span 2;
    grid-auto-rows: span 1;
  }
  .gallery-item:nth-child(25) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .gallery-item:nth-child(32) {
    grid-column: span 2;
    grid-row: span 3;
  }
}
